{# default selector #}

<div class="pdp_pager">
    {% for page in pager.PagerSelector.PageNo.Rows %}
        {% if page.select %}
            {{ page.label }}
        {% else %}
            <a href="{{ path(pager.RouteName, page.query) }}" >{{ page.label }}</a>
        {% endif %}
    {% endfor %}
</div>
